.App {
	margin: 5% 25% 5% 25%;
	font-family: 'Arial'
}

.App-header {
	text-align: center;
}

.auth-background {
	justify-content: center;
	padding: 50px;
	margin: 10% 0px 10% 0px;
}

.button-block {
	width: 100%;
}

.continue {
	text-align: right;
}

.delete-icon {
	position: absolute;
}

.delete-icon:hover {
	color: #f50057;
}

.footer-container {
	text-align: center;
	padding-top: 10%;
}

.footer {
	left: 0;
	bottom: 0;
	right: 0;
}

.login-form {
	justify-content: center;
	min-height: 60vh;
}

.logo {
	max-width: 15%;
}

.pagination {
	display: flex;
	justify-content: center;
	padding: 15px;
}

.password-sent {
	justify-content: center;
	padding: 50px;
}

.search {
	max-width: 60%;
}

.toolbar {
	margin-top: 1%;
	padding: 0.25rem;
}

.validation-errors {
	color: red;
}