.App {
  margin: 100px 20%;
}

.App-header {
	text-align: center;
}

.login-form {
	justify-content: center;
	min-height: 70vh;
}

.button-block{
	width: 100%;
}

.delete-icon {
	position: absolute;
}

.delete-icon:hover {
  color: #f50057;
}

.login-background {
	justify-content: center;
	min-height: 30vh;
	padding: 50px;
}

.footer-container {
	text-align: center;
	padding-top: 20px;
}

.footer {
	left: 0;
	bottom: 0;
	right: 0;
}